.container {
  list-style: none;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.task {
  flex-grow: 1;
  margin-right: 10px;
}

.task p {
  white-space: normal;
}

.input {
  font-size: 16px;
  margin-right: auto;
  padding: 0.25em 0.5em;
  border: 2px solid #8b8a8b;
  border-radius: 4px;
  margin-right: auto;
}

.input:focus {
  border-color: rgb(107, 82, 222);
  outline: 3px solid transparent;
}
