.container {
  display: flex;
  flex-flow: column wrap;
  margin: 20% auto;

  width: 50vw;
}

.addBtn {
  width: 50px;
  margin: 5px auto;
}

@media only screen and (max-width: 600px) {
  .container {
    width: auto;
  }
}
